<table>
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Creation Date</th>
      <th>Update</th>
      <th>Delete</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Template 1</td>
      <td>2022-01-01</td>
      <td>
        <button><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button><i class="fas fa-trash"></i></button>
      </td>
      <td>
        <button><i class="fas fa-eye"></i></button>
      </td>
    </tr>
    <tr>
      <td>Template 2</td>
      <td>2022-02-01</td>
      <td>
        <button><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button><i class="fas fa-trash"></i></button>
      </td>
      <td>
        <button><i class="fas fa-eye"></i></button>
      </td>
    </tr>
    <tr>
      <td>Template 3</td>
      <td>2022-03-01</td>
      <td>
        <button><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button><i class="fas fa-trash"></i></button>
      </td>
      <td>
        <button><i class="fas fa-eye"></i></button>
      </td>
    </tr>
  </tbody>
</table>
